{% extends 'base.html' %}

{% block login_logout %}
    <a href="/accounts/logout/">Logout</a>
    <a href="/events/all_my_events/">View Your Events</a>
{% endblock %}

{% block content %}
    <div class="details">
        <form method="post" action="">
            <span>Add Location:</span><br />
            <ul>
                {{ lf.as_ul }}
            </ul>
            <input type="hidden" name="referer" value="{{ ref }}" /><br />
            <input type="submit" name="submit" value="Add" />
        </form>
    </div>
{% endblock %}