<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>BLAH BLAH BLAH</title>
</head>
<body>
    Edit a Poll:<br />
    <form name="EditPoll" method="post" action="editpoll/">
        <input type="hidden" name="uid" value="{{uid}}" />
        <input type="hidden" name="userCode" value="{{userCode}}" />
        <select name="pid">
        {% for key,value in pollIDs.items %}
            <option value="{{key}}">{{ value }}</option>
        {% endfor %}
        </select>

        <input type="submit" name="edit" value="Edit" />       
    </form>
    <hr />
    <form method='post' action=''>
        UserID: <input type='text' name='uid' />
        <input type='submit' name='submit' value='Post' />
    </form>
</body>
</html>